/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock

*.jpg

public/images/1703770569.jpg
public/images/1703770583.jpg
public/images/1703823266.jpg
public/images/1703770596.jpg
public/images/1703827913.jpg
*.jpg
public/pdfs/user_information.pdf
public/pdfs/user_information.pdf
public/pdfs/user_information.pdf

